.container {
    padding: 1%;
}

.card {
    width: 40%;
    margin: auto !important;
    color: black;
}

.card-header {
    text-align: center;
}

.card-footer {
    text-align: right;
}

.nav-link {
    font-size: 100%;
    padding: 0;
}