.container {
    max-width: 80%;
    padding: 0;
    margin-top: 5px;
}
.audioName {
    margin: auto;
    width: 30% !important;
    max-width: 30% !important;
}
.audioPlayer {
    width: 70% !important;
    max-width: 70% !important;
}
.row {
    height: 56px !important;
}
.col {
    padding: 0 !important;
    padding-left: 10px !important;
}
.rounded{
    background: #3B3A3A;
    border-radius: 27px !important;
}