<html>

<body>
    <div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>Список треков</div>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Введите автора">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Найти</button>
    </form>
    {{#tracks}}
    <div>
        <b>{{id}}</b>
        <span>{{trackDescription}}</span>
        <i>{{trackSinger}}</i>
    </div>
    {{/tracks}}
</body>

</html>